body {
  background-color: rgba(85, 80, 77, .26);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.menu-section {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #304040;
  box-shadow: 0 0 50px -5px #080706;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
}

.home-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-container._2 {
  position: absolute;
  z-index: 20;
  overflow: visible;
  width: 70%;
  height: 10000vh;
  margin-top: 57vh;
  padding-top: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 0 21px -8px #000;
}

.home-container._2._3 {
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 21px -6px #000;
}

.menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-decoration: none;
}

.menu-link._2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  line-height: 14px;
  cursor: pointer;
}

.menu-link._2._6 {
  margin-right: 20px;
  padding-top: 12px;
}

.menu-link._3 {
  display: none;
  width: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flowtyper {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  text-decoration: none;
}

.flowtyper._1 {
  color: hsla(0, 0%, 100%, .9);
  font-weight: 400;
}

.flowtyper._2 {
  font-weight: 700;
}

.home-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-link-line {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background-color: #fff;
}

.menu-link-line._2 {
  margin-bottom: 0px;
}

.flow-list-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.new-flow-container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  margin-top: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flow-link {
  overflow: visible;
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: #080706;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.flow-link:hover {
  color: #304040;
}

.flow-link._2 {
  color: #fff;
  line-height: 27px;
}

.flow-link._2._3 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flow-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 80%;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 50px;
  line-height: 50px;
}

.flow-space {
  overflow: visible;
  height: 85vh;
  margin-top: 60px;
  float: left;
}

.flow {
  height: 85vh;
  border: 0px solid #000;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #080706;
  font-size: 60vh;
}

.date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Lato, sans-serif;
  font-size: 80%;
  line-height: 200%;
  font-weight: 700;
  text-align: left;
}

.title {
  overflow: hidden;
  padding-left: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Lato, sans-serif;
  color: #080706;
  font-size: 80%;
  line-height: 200%;
  font-weight: 300;
  text-align: left;
}

.leave-flow-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.the-flow {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 150;
  display: none;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(32, 48, 48, .95);
}

.the-flow-box {
  position: relative;
  z-index: 30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.the-flow-date {
  font-family: Lato, sans-serif;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
}

.the-flow-text {
  margin-top: 40px;
  font-family: Lato, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.the-flow-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.x {
  position: fixed;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.white-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.white-line._2 {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.page-list {
  margin-top: 10vh;
}

.background {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 0;
  width: 100vw;
  height: 85vh;
  background-image: url('../images/Elliot-0657.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.new-flow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 15px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 42px;
  line-height: 60px;
  font-weight: 400;
  text-decoration: none;
}

.new-flow:hover {
  font-weight: 600;
}

.owner-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-bottom: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Lato, sans-serif;
  color: #080706;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: #080706;
  color: rgba(8, 7, 6, .79);
}

.journal-title {
  width: 100%;
  margin-bottom: 5vh;
  font-size: 5vw;
  line-height: 100%;
}

.confirm {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 27px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
}

.flow-body {
  background-color: #fff;
}

.success-message {
  width: 100vw;
  height: 70vh;
  padding: 0px;
  background-color: #fff;
}

.submission-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #080706;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}

.submission-text-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submission-link {
  text-decoration: none;
}

.support {
  width: 80vw;
  height: 1px;
  background-color: #fff;
}

html.w-mod-js *[data-ix="flow-link"] {
  opacity: 0.8;
}

html.w-mod-js *[data-ix="the-flow"] {
  opacity: 0;
  -webkit-transform: translate(100vw, 0px);
  -ms-transform: translate(100vw, 0px);
  transform: translate(100vw, 0px);
}

html.w-mod-js *[data-ix="initial-invisibility"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="initial-invisibility-2"] {
  opacity: 0;
  -webkit-transform: translate(100vw, 0px);
  -ms-transform: translate(100vw, 0px);
  transform: translate(100vw, 0px);
}

@media (max-width: 991px) {
  .home-container._2 {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .home-container._2 {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .menu-link._2._6 {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .flow-link._2 {
    width: 76%;
    font-size: 18px;
  }
  .leave-flow-bar {
    margin-right: 14px;
  }
  .the-flow-text {
    font-size: 20px;
  }
  .the-flow-title {
    font-size: 30px;
  }
  .confirm {
    font-size: 18px;
  }
}

